@media (max-width: 768px) {
        .tp-offcanvas-logo img {
            width: 50px;
        }
        .tp-offcanvas-top{margin-bottom:10px;}
        .tp-offcanvas-area {
            width: 80%;
        }
        .tp-hero-title, .sv-hero-title, .sv-big-text  {
            font-size: 50px;
        }
        .sv-hero-title {
            letter-spacing: -3px;
        }
        h5, h6, .tp-hero-content p, .tp-service-content p, .tp-testimonial-item p, .tp-footer-2-widget-text p, .tp-footer-2-widget-menu ul li a, .tp-copyright-2-left p, .sv-hero-title-box p, .tp-service-5-item .tp-service-4-content p, .sv-service-text p {
            font-size: 14px;
        }
        .sv-service-subtitle, .sv-service-list ul li {
            font-size: 12px;
        }
        .sv-hero-thumb-box img {object-fit:cover;}

        .tp-section-title {
            font-size: 30px;
            line-height: 1.2;
        }
        .tp-section-subtitle.subtitle-position {
            right: unset;
            bottom: -25px;
            left: 0;
        }
        .tp-service-left-btn {
            margin-bottom: 50px;
            margin-top: 30px;
        }
        .tp-service-title-sm, .tp-service-4-title-sm {font-size: 18px;}
        .tp-service-4-title-sm a{text-decoration:none !important;}
        .tp-project-textline{display:none;}
       
         .sv-big-text {
            letter-spacing: -4px;
        }
        .tp-testimonial-item span{

            font-size: 11px;
            
        }
        .sv-small-text-box span {
            font-size: 12px;
        }
          
        .tp-footer-2-widget-text h2, .sv-service-title {
            font-size: 25px;
        }
        
        .tp-footer-2-widget-title {
            font-size: 20px;
        }
        
        .tp-copyright-2-left p {
            margin-bottom: 12px;
        }
        .back-to-top-btn-show{display:none;}
}
